<!DOCTYPE html>
<meta charset="utf-8">
<title>Helper Functions</title>
<link rel="stylesheet" href="/main.css">
<p>Here's some JavaScript code</p>

    {{#codeblock}}
// Import express library
var express = require('express');

// Create express application
var app = express();
    {{/codeblock}}

    {{#copyright "Jerred Shepherd"}}{{/copyright}}
